body {
  background-color: black;
  color: white;
}
.HomePage {
  text-align: center;
}

.LinkSection {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.LinkSection a {
  margin: 100px;
  font-family: "Major Mono Display", monospace;
}

.LinkSection a:hover {
  margin: 105px;
  font-family: "Major Mono Display", monospace;
  color: red;
}
.NameDiv {
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-bottom: 200px;
}
.ScrollDiv {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.HomeScrollSpan {
  font-family: "Major Mono Display", monospace;
  font-size: 40px;
  color: rgb(77, 77, 77);
  margin: auto;
}
.SecretH2 {
  color: rgb(27, 27, 27);
  font-size: 23px;
}
