.MainSinglePost {
  background-color: rgb(0, 0, 0);
}
.Div1SinglePost {
  text-align: center;
  margin-top: 20px;
}
.H1SinglePost:hover {
  color: red;
}

.SinglePostImage2 {
  /* height: 1000px; */
  width: 99%;
  border-radius: 1.2rem;
  margin: auto;
  border: 1px solid lightblue;
  margin-top: 15px;
  margin-bottom: 20px;
}
.SinglePostBlockContent {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Major Mono Display", monospace;
}
