@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
/* font-family: 'Major Mono Display', monospace; */
header {
  background-color: blue;
}
h1 {
  font-size: 50px;
  font-family: "Major Mono Display", monospace;
}
h2 {
  font-size: 30px;
  font-family: "Major Mono Display", monospace;
}
.NavBar {
  font-family: "Major Mono Display", monospace;
  font-weight: 700;
  font-size: 50px;
  padding: 10px;
  color: white;
  width: auto;
  display: flex;
  flex-direction: row;
  height: 150px;
}
.NavBar a {
  margin: 50px;
}

.NavBar a:hover {
  color: rgb(238, 255, 0);
}
.NavBarDiv {
  width: 100%;
}
.BlogImage {
  border-radius: 5px;
  width: 350px;
  margin: 10px;
}
.BlogPostTitle {
  font-size: 20px;
  font-family: "Major Mono Display", monospace;
  width: 25%;
  padding-bottom: 10px;
}
.h3Span {
  width: 50%;
  text-align: center;
}
.AboutDiv {
  align-content: center;
  text-align: center;
}
.AboutDiv h2 {
  font-size: 40px;
  /* color: aquamarine; */
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0.05rem 0 0 rgba(255, 0, 0, 0.75),
    -0.025rem -0.05 0 rgba(0, 255, 0, 0.75),
    0.025rem 0.05 0 rgba(0, 0, 255, 0.75);
}
.IDPicture {
  width: 560px;
  margin: auto;
}
.ParagraphDiv {
  height: 400px;
  overflow-y: auto;
  width: 90%;
  margin: auto;
  font-family: "Major Mono Display", monospace;
  text-align: left;
  text-indent: 50px;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 20px;
}
.ParagraphDiv p {
  margin: 10px;
}
.SMPic {
  width: 200px;
  height: 200px;
  margin-top: 350px;
  margin: auto;
}
.PicDiv {
  display: flex;
  flex-direction: row;
}
.ProjectMain {
  text-align: center;
  padding: 20px;
}
.ProjectH3 {
  color: rgb(255, 24, 113);
  font-weight: 700;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-shadow: -1px 0px 1px rgba(0, 0, 255, 1),
    1px 1px 1px rgba(0, 255, 0, 0.75), -2px 2px 2px rgba(255, 0, 0, 0.75);
}
.ProjectH3:hover {
  color: white;
}
.ProjectDiv {
  padding: 45px;
  border: solid 1px white;
  border-radius: 5px;
  width: 350px;
  margin: auto;
}
.ProjectArticle-1 {
  border: solid 3px white;
  border-radius: 5px;
  padding-bottom: 15px;
  width: 500px;
  margin: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  font-family: "Major Mono Display", monospace;
  height: 400px;
}
.ProjectSec-2 {
  display: flex;
  flex-direction: row;
}
.DemoLink {
  color: rgb(178, 236, 43);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-shadow: -1px 2px 1px rgb(248, 168, 255),
    2px 2px 2px rgba(0, 255, 0, 0.75);
}
.DemoLink:hover {
  color: rgb(255, 255, 255);
}
.HomeButton {
  font-size: 80px;
  margin-bottom: 30px;
}
