@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
/* font-family: 'Major Mono Display', monospace; */
header {
  background-color: blue;
}
h1 {
  font-size: 50px;
  font-family: "Major Mono Display", monospace;
}
h2 {
  font-size: 30px;
  font-family: "Major Mono Display", monospace;
}
.NavBar {
  font-family: "Major Mono Display", monospace;
  font-weight: 700;
  font-size: 50px;
  padding: 10px;
  color: white;
  width: auto;
  display: flex;
  flex-direction: row;
  height: 150px;
}
.NavBar a {
  margin: 50px;
}

.Navbar a:hover {
  color: lightblue;
}
.NavBarDiv {
  width: 100%;
}
.BlogImage {
  border-radius: 5px;
  width: 350px;
  margin: 10px;
}
.BlogPostTitle {
  font-size: 20px;
  font-family: "Major Mono Display", monospace;
  width: 25%;
  padding-bottom: 10px;
}
.h3Span {
  width: 50%;
  text-align: center;
}
