@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
/* font-family: 'Major Mono Display', monospace; */

.cursive {
  font-family: "Major Mono Display", monospace;
  font-weight: 700;
}
.prose img {
  margin: auto;
  border-radius: 5px;
}
.home-name {
  font-size: 150px;
}
